// colors

$main_background: #F5F5DC;
$menu_footer: #191919;
$header_info: #00284e;
$footer_hover: #ffd700;
$white_color: white;
$menu_active: #005e86;
$search_btn: #ffa500;
$news_title: #b7410e;
$news_date: #01355c;
$news_descr: #333333;
$date: #800000;