.footer {
    flex: 0 0 auto;
    padding: 20px 20px 5px 20px;
    background-color: $menu_footer;
    &__wrap {
        display: flex;
        justify-content: space-around;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            color: $white_color;
            &:hover {
                text-decoration: none;
                color: $footer_hover;
            }
        }
    }
    &__menu {
        li {
            list-style-type: none;
        }
        &-item {
            color: $white_color;
            &:hover {
                text-decoration: none;
                color: $footer_hover;
            }
        }
    }
    &__social {

    }
    &__connect {
        margin-bottom: 20px;
        img {
            margin: 0 10px;
            width: 30px;
            height: 30px;
        }
    }
    &__metrik {

    }
    
    &__contact {
        padding: 0 20%;
        display: flex;
        justify-content: space-around;
        a {
            color: $white_color;
            &:hover {
                text-decoration: none;
                color: $footer_hover;
            }
        }
    }
    &__year {
        margin-top: 20px;
        text-align: center;
        color: $white_color;
    }
}