.footer {
    flex: 0 0 auto;
    padding: 20px 20px 5px 20px;
    background-color: $menu_footer;
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        a {
            margin: 0 10px;
            color: $white_color;
            &:hover {
                text-decoration: none;
                color: $footer_hover;
            }
        }
    }  
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__connect {
        margin-bottom: 20px;
        img {
            margin: 0 10px;
            width: 30px;
            height: 30px;
        }
    }
    &__metrik {

    }

    &__year {
        margin-top: 20px;
        text-align: center;
        color: $white_color;
    }
}