.footer {
    flex: 0 0 auto;
    padding: 20px 20px 5px 20px;
    background-color: $menu_footer;
    &__info {
        margin-bottom: 20px;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        a {
            margin: 0 10px;
            color: $white_color;
            &:hover {
                text-decoration: none;
                color: $footer_hover;
            }
        }
    }  
    &__sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__year {
        margin-top: 20px;
        text-align: center;
        color: $white_color;
    }
}