.search {
    &-form {
    display: flex;
    justify-content: flex-start;
    &__input {
        padding: 3px 5px;
        border: 1px solid #191919;
        color: #191919;
        }
    }
}

.button-search {
    width: 33px;
    border: 1px solid #191919;
    background-color: #ffa500;
    border-left: none;
    &_img {
        width: 20px;
        height: 20px;
    }
}