.header {
    background-color: white;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //background-color: cyan;
        height: 25px;
        border-bottom: 1px solid #01355c;
        a {
            margin: 5px;
            color: #00284E;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
    &__title {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__date {
        text-transform: uppercase;
        font-style: italic;
        color: #00284E;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
    }
}