.header {
    background-color: $main_background;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        border-bottom: 1px solid $header_info;
        a {
            margin: 5px;
            color: $header_info;
            font-family: 'Roboto';
            font-style: italic;
            font-size: 12px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
    &__title {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__date {
        text-transform: uppercase;
        color: $date;
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40px;
        width: 200px;
        margin: 0 30px;
        img {
            height: 100%;
            width: 150px;
        }
    }
    &__descr {
        width: 250px;
        color: $header_info;
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
    }
}

.hamburger {
    display: none;
}