.main {
    flex: 1 0 auto;
    margin: 20px 0;
    width: 100%;
    display: flex;
    background-color: $main_background;
    &__topics {
        flex-basis: 75%;
        border-right: 1px solid $menu_footer;
    }
    &__side {
        flex-basis: 25%;
        padding: 10px;
        &-tags {
            margin-top: 20px;
            &__title {
                font-size: 20px;
                font-weight: 700;
            }
            &__list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
    &__next {
        display: flex;
        justify-content: center;
        a {
            padding: 5px 10px;
            margin: 0 10px;
            background-color: $search_btn;
            border: 1px solid $menu_footer;
            color: $news_descr;
            font-weight: 700;
        }
    }
}