.main {
    flex: 1 0 auto;
    margin: 20px 0;
    width: 100%;
    display: flex;
    background-color: white;
    &__topics {
        flex-basis: 80%;
        //background-color: #B0C4DE;
        border-right: 1px solid #00284E;
    }
    &__side {
        flex-basis: 20%;
        padding: 10px;
        &-tags {
            margin-top: 20px;
            &__title {
                font-size: 20px;
                font-weight: 700;
            }
            &__list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}