.menu {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: yellow;
    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    &__item {
        padding: 0 10px;
        list-style-type: none;
        color: #717171;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
}