.news {
    margin: 10px 0;
    padding: 10px;
    &__title {
        color: #ce5a5a;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
    }
    &__date {
        color: #b0b0b0;
        font-family: Verdana;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    &__text {
        color: #717171;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
}