.reklama {
    &__header {
        //background-color: green;
        height: 120px;
        width: 100%;
    }
    &__main {
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    &__side_1 { 
        margin: 20px 0;
        width: 100%;
    }
}   